/* element selector */
/* referensi color */

body {
    background-color: #1a05a2 ;
    color:whitesmoke;
    font-family: verdana;
}

.txt-center{
  text-align: center;  
}

.bg-warning {background-color: yellow; border-radius: 20px 0px 20px 0px;border-style: dashed; border-color: blue;border-width:}
.txt-black { color: black;}
.p-1 {padding: 50px;} 
.m-1 {margin: 20px;}